<ion-view>
  <ion-content>

    <ion-tabs class="tabs-positive tabs-icon-top">

      <ion-tab href="/myBooking/active" title="Active Bookings" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
        <ion-nav-view name="active-tab"></ion-nav-view>

      </ion-tab>

      <ion-tab  href="/myBooking/pending" title="Pending Booking" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
        <ion-nav-view name="pending-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab href="/myBooking/history" title="Booking History" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
        <ion-nav-view name="history-tab"></ion-nav-view>
      </ion-tab>

    </ion-tabs>

  </ion-content>
</ion-view>



