<ion-view view-title="Payments Settings">

  <ion-nav-buttons side="right">

      <button class="button icon ion-plus"></button>
  </ion-nav-buttons>
  <ion-content scroll="false">

  <div class="list">

      <div class="item item-avatar item-button-right" ui-sref="app.cardSettings({'id':'id'})">
        <img src="http://lorempixel.com/400/200/">
        <h2>xxxx-2397</h2>
        <p>11/21</p>

        <button class="button button-positive">
          <i class="icon ion-ios-checkmark"></i>
        </button>
      </div>

      <div class="item item-avatar" ui-sref="app.cardSettings({'id':'id'})">
        <img src="http://lorempixel.com/400/200/">
        <h2>xxxx-2397</h2>
        <p>11/21</p>
      </div>
      <div class="item item-avatar" ui-sref="app.cardSettings({'id':'id'})">
        <img src="http://lorempixel.com/400/200/">
        <h2>xxxx-2397</h2>
        <p>11/21</p>
      </div>
      <div class="item item-avatar" ui-sref="app.cardSettings({'id':'id'})">
        <img src="http://lorempixel.com/400/200/">
        <h2>xxxx-2397</h2>
        <p>11/21</p>
      </div>

  </div>

  </ion-content>
</ion-view>




