<ion-view view-title="Venture Native">
  
  

  <ion-content >
  <h1> Contact Us </h1>

  <hr >

  <div class="text-center">
    <p> We work hard to bring you the best booking and travel experience we can. </p>
    <p> Please let us know if you have any questions, commnets, or concerns. We'll make sure to get back to you as soon as possible. </p>
  </div>

  <a ng-href="mailto:info@venturenative.com?subject=Question for VentureNative">
    <button><i class="icon ion-email"></i> Contact Us </button>
  </a>

  </ion-content>
</ion-view>
