<ion-view view-title="About Us">
  
  <ion-content >
  <h1> About Us </h1>
  <hr>
    <div class="text-center">
        <p> Venture Native allows you to connect with city local hosts for unique, one-of-a-kind experiences. </p>
        <p>The found team loves traveling. One of our favorite things is to go off the beaten path and do “non-touristy” things. </p>
        <p> This way of traveling lets us truly see and experience how people really live. Finding these types of experiences can be difficult, especially if you don’t know anyone that lives in the area you're traveling to. </p>
        <p>We decided to create Venture Native to solve this problem. Venture Native will make our way of traveling easier for everyone. </p>
    </div>

    <hr>
        <h3> Founders </h3>
        <div class="item-list row">
            <div class="col col-25"> 
                <div class="aboutUs-avatar">
                    <img class="aboutUs-avatar" src="../../img/daenerys.png">
                </div>
            </div>
            <div class="col col-75"> 
                <p> Enrique Martinez was born in Mexico, but grew up in New Jersey. After being instilled with a spirit for travel at a young age, Venture Native is the next chapter in his life. By far the best travel experience for him has been the summer he spent traveling through Northern Italy. </p>
            </div>
        </div>
        <div class="item-list row">
            <div class="col col-25"> 
                <div class="aboutUs-avatar">
                    <img class="aboutUs-avatar" src="../../img/daenerys.png">
                </div>
            </div>
            <div class="col col-75"> 
                <p> Michael Rodriguez was born and raised in New York. From hiking the Inca trail to finding hidden ceviche spots, Peru has made it to the top of Mike's list of favorite countries. Japan is next on his list of places to visit. Any place that has robot restaurants, hiking & sumo wrestling is a place he needs to go. </p>
            </div>
        </div>
        <div class="item-list row">
            <div class="col col-25"> 
                <div class="aboutUs-avatar">
                    <img class="aboutUs-avatar" src="../../img/daenerys.png">
                </div>
            </div>
            <div class="col col-75"> 
                <p> Paul Garcia was born in Peru and raised in New York. He has traveled to various places in Latin America and loves to eat food that can't be found at home. He hopes to start exploring Asia very soon. </p>
            </div>
        </div>

  </ion-content>
</ion-view>



