<ion-view view-title="Create Venture">
  <ion-content >

  <form novalidate class="list">

    <label class="item item-input item-floating-label">
      <span class="input-label">Venture Name</span>
      <input type="text" ng-model="venture.name" placeholder="Venture title">
    </label>

    <label class="item item-input item-floating-label">
      <span class="input-label">Description</span>
      <textarea ng-model="venture.description" placeholder="Describe the experience you offer"></textarea>
    </label>

    <label class="item item-input item-floating-label">
      <span class="input-label">Venture Time (hours)</span>
      <input type="number" min="1" ng-model="venture.duration"  placeholder="How long is your venture? (hours)">
    </label>

    <label class="item item-input item-floating-label">
      <span class="input-label">Price</span>
      <input type="number" min="10" ng-model="venture.price"  placeholder="How much do you want to charge? ($US)">
    </label>
    <h3 class="text-center">Transportation Included?</h3>

    <div class="item item-text-wrap">
      You have the option to specify the inclusion of transportation during the venture.
    </div>
    <label class="item item-input item-floating-label days-container">
      <ion-list>
        <ion-checkbox ng-model="venture.rideIncluded">Yes</ion-checkbox>
      </ion-list>
    </label>

    <h3 class="text-center">Featured Venture?</h3>
    <label class="item item-input item-floating-label days-container">
      <ion-list>
        <ion-checkbox ng-model="venture.featured">Yes</ion-checkbox>
      </ion-list>
    </label>

    <vn-city-select ng-model="venture.city"></vn-city-select>


    <h3 class="text-center">What days are you available?</h3>
    <label class="item item-input item-floating-label days-container">
        <ion-list>
          <ion-checkbox ng-model="venture.day.monday.available">Monday</ion-checkbox>
          <ion-checkbox ng-model="venture.day.tuesday.available">Tuesday</ion-checkbox>
          <ion-checkbox ng-model="venture.day.wednesday.available">Wednesday</ion-checkbox>
          <ion-checkbox ng-model="venture.day.thursday.available">Thursday</ion-checkbox>
          <ion-checkbox ng-model="venture.day.friday.available">Friday</ion-checkbox>
          <ion-checkbox ng-model="venture.day.saturday.available">Saturday</ion-checkbox>
          <ion-checkbox ng-model="venture.day.sunday.available">Sunday</ion-checkbox>
        </ion-list>
    </label>
    <div class="button-bar">
      <input type="submit" ng-click="saveVenture(venture)" value="Create Venture" class="button button-full button-balanced" />
    </div>

  </form>

  </ion-content>
</ion-view>



