<ion-view view-title="Become a Host">
  
  <ion-content >
  <h1> Become a Host ! </h1>
  <hr>
  <p class="text-center">Do you love your city? <br> Do you want to show it off to people? <br> Make money while enjoying the things you already do! <br> We are always looking to add new hosts and ventures to our platform. <br> If you want to host ventures in your city, please fill out the survey in the below link. </p>

    <div class="bar bar-footer bar-balanced">
        <div class="title">Become a Host</div>
    </div>

  </ion-content>
</ion-view>



